* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Now Display";
}

html,
body {
    height: 100%;
    width: 100%;
}

#world {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
